/* Header Area */
.blue {
  color: #3a5795;
}
.blue-bar .row {
  padding: 0 20px;
}
#contact-button {
text-align: right;
position: fixed;
bottom: 3px;
right: 20px;
z-index: 90;
margin: 0;
display: inline-block;
margin: 0;}
#contact-button a {
    font-size: 1.28571em;
    line-height: 1.57143em;
    color: #002d62;
    width: auto;
    height: auto;
    padding: 10px 20px 10px 20px;
    background: #eeb112;
    border-radius: 5px;

  }
.comm-list p, .comm-list h4 {
  margin-bottom: 0;
}
.comm-title h2 {
  color: #002d62;
  font-weight: bold;
}
.top-bar-color {
  width: 100%;
  background: #002d62;
  box-shadow: 1px 1px 5px #a3a3a3;
}
.blue-bar {
  height: 350px;
  background: url("../img/community-bg.jpg") center top no-repeat #002d62;
  background-size: cover;
  color: #fff;
}
.page-bar {
  height: 350px;
  background: #002d62;
  color: #fff;
}
.homes-bar {
  height: 350px;
  background: url("../img/homes-bg.png") center top no-repeat #002d62;
  background-size: cover;
  color: #fff;
}
.about-bar {
  height: 350px;
  background: url("../img/about-bg.png") center top no-repeat #002d62;
  background-size: cover;
  color: #fff;
}
.blue-bar-home {
  background-size: cover;
  color: #fff;
}
#home-hero {
  padding: 100px 0 150px;
}
#home-hero h1 {
  color: #fff;
  text-shadow: 1px 0px 5px #000;
}
#home-hero a {
  color: #fff;
}
#community-info {
  color: #fff;
}
#community-info p  {
  font-size: 24px;
}
#community-info h1, #community-info h3,  #community-info p  {
  color: #fff;
}
#communities-home-info {
  padding-top: 40px;
  color: #fff;
}
#communities-home-info p  {
  font-size: 16px;
}
#communities-home-info h1, #communities-home-info h3,  #communities-home-info p  {
  color: #fff;
}
#community-layerslider {
  margin: 50px 0;
}
#community-layerslider img {
  max-height: 250px; 
}
#community-slider {
  background: url("/custom-content/slider.jpg") top center;
  background-size: cover !important;
}
#community-slider img{
  display: block;
  margin: 55px auto 0 auto;
  bottom: 0;
}
#white-top-bar {
  background: url("/custom-content/white-bg.png");
  width: 100%;
  max-width: 100%;
}
#white-top-bar {
  color: #002d62;
  font-size: 12px;
  padding-top: 12px;
}
#white-top-bar-right {
  text-align:right;
}
#white-top-bar h1 {
  color: #002d62;
  font-size: 2rem;
  margin-bottom: 0;
}
#white-top-bar p {
  color: #002d62;
  font-size: 12px;
  padding-left: 3px;
}
#tagline{
  padding-top: 60px;
}
#tagline h1{
  color: #fff;
  text-shadow: 1px 0px 5px #000;
  font-style: italic;
  text-align:center;
}
#custom-hr {
  background: url("/custom-content/hr.png") top center no-repeat;
  height: 10px;
}
#sticky-nav-community {
  background: #fff;
  z-index: 99999999;
}
#sticky-nav-community.is_stuck {
  box-shadow: 1px 1px 5px #a3a3a3;
}
#sticky-nav-community a{
  color: #002d62;
}
#sticky-nav-community a:hover{
  color: #003399;
}
#sticky-nav-community h4{
  color: #002d62;
}
#sticky-nav-community h3{
  color: #002d62;
}
#sticky-nav-community h3 span{
  color: #eeb112;
}
#sticky-nav-community p{
  color: #002d62;
  font-size: 12px;
  text-align:right;
  margin: 15px 0 0 0;

}
#features-overview {
  width: 100%;
  background-size: cover;

}
#half-white {
  background: url("/custom-content/white-bg.png");
  padding: 40px;
}
#half-white h2 {
  color:#002d62;
}
#half-white a:hover {
  color:#003399;
}
.flist {
  list-style: none;
}
.flist a {
  color: #002d62;
}
.flist a:visited {
  color: #002d62;
}
.flist a.active {
  color: #003399;
  text-decoration: underline;
}
.orbit-timer {
  display: none;
}
#almost-white {
  background: url("/custom-content/almost-white.png");
  padding: 50px;
  min-height: 400px;
}
#almost-white table{
  width: 100%;
}
td.model {
  font-weight: bold;
}
td.sqft {
  text-align: right;
}
td.from {
  text-align: right;
}
#features-list {
  padding: 50px 0;
  background: url("/custom-content/features-list.jpg") top center no-repeat #e2e2e2;
  background-size: cover;
  width: 100%;
  }
#features-list h4 {
  color: #002d62;
  }

#bottom-hero {
  width: 100%;
  background-size: cover;
  text-align:center;
  padding: 100px;
}
#bottom-hero h1 {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
#bottom-hero p {
  color: #fff;
  margin: 0 auto;
  max-width: 650px;
}
#image-gallery {
  width: 100%;
  padding: 20px 5px;
}
#call-icon {
  margin-right: 25px;
}
#address-icon {
  margin-right: 25px;
}
#manager-icon {
  margin-right: 25px;
}
.refixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

#main  {
  z-index: 9999;
  list-style: none;
}
.top-bar.expanded .title-area {
  background: #002d62;
  }
.title-area {
  margin-left: 5%;
  border-top: solid 5px #002d62;
}
.title-area a{
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 40px !important;
}
.fa-2x {font-size: 1.5em;}
#logo-area {
  padding: 20px 0 20px 10px;
  margin-bottom: 20px;
}
#logo-area {
}
#logo-area img {
  max-height: 100px;
}
#main  {
  margin-top: 30px;
}
.dropdown li {list-style: none; }
.top-bar-section #main li {
  margin-right: 10px !important;
  background: #fff;
  margin: 0 40px;
}
.top-bar-section ul li a {
  font-weight: bold;
  font-size: 16px;
  color: #002d62;
  line-height: 40px !important;
}
.top-bar-section li:not(.has-form) a:not(.button):hover
{
  background: #fff;
}
.top-bar-section ul li a:hover {
  font-weight: bold;
  color: #eeb112;
  background: #fff;
  line-height: 40px !important;
}
.top-bar-section ul li a.active {
  border-top: solid 5px #fff;
  font-weight: 600;
  color: #fff;
  line-height: 40px !important;
}
.top-bar-section #main li {
  
  margin-right: 10px !important;
}
.side-nav ul li {display: inline-block;}
.side-nav ul li a {
  border-top: solid 5px #002d62;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  line-height: 40px !important;
}
.side-nav ul li a:hover {
  border-top: solid 5px #fff;
  font-weight: 600;
  color: #fff;
  line-height: 40px !important;
}
.side-nav ul li a.active {
  border-top: solid 5px #fff;
  font-weight: 600;
  color: #fff;
  line-height: 40px !important;
}

.top-bar {
  background: #002d62;
  z-index: 1;
}
.dropdown li {
  background: #002d62; 
}
.top-bar li a {
  background: #002d62;
}
#icons-top li a {
  color: #fff;
  border-top: solid 5px #002d62;
}
#icons-top li a:hover {
  border-top: 0;
  line-height: 45px;
  background:#002d62 !important;  
}
.top-bar-section ul li a:hover {
}
ul.right { 
  float: right !important;


}
.fadein {
  height: 460px;
}
.fadein img{
  width: 100%;
}
.community-slide {
  height: 460px;
}
.testimonial-slide {
  height: 150px;
}
.testimonial-slide img {
  float:right;
  margin: 0 auto;
}
.testimonial-slide img { position:absolute; right:0; top:0; max-width:100%; margin: 0 auto; display: block;}

.fadein, .community-slide, .testimonial-slide { position:relative; width:100%; }
.fadein img, .community-slide img { position:absolute; left:0; top:0; max-width:100%; }

.community-slide img{
  width: 100%;
}
.full-width {
  width: 100%;
}
/* Contact Form */
#contact-form input {
  width: 100%;
}
/*home page*/
.logo-seal { margin-top: 35px; }

/* footer */
footer {
  padding: 30px 0 10px;
  width: 100%;
  background: #002d62;
  border-top: 1px solid #EDEDED;
  color: #b6b6b6;
  font-weight: 200;
  z-index: 1;
}
#home-footer { 
  padding-top: 0;
  margin-top: 275px;
}
footer a {
  color: #b6b6b6;
}
footer a:hover {
  color: #fff;
}
footer hr {
  color: #fff;
}
#links-block li {
  padding-bottom: 0;
}
#communities-block li {
  padding-bottom: 0;
}
#last-words p {
  font-style: italic;
}
#last-words img {
  float: left;
}
#copyright p, #copyright div, #copyright a {
  font-size: 12px;
}
#copyright img {
  max-height: 40px;
}

/*Utility Classes */
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
/* Sidebar CSS */
#sidebar {
  float: right;
  color: #002d62;
  background: #eaeaea;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 50px;
  position: relative;
}

#sidebar ul {
  list-style: none;
}
#sidebar ul li a {
  list-style: none;
  z-index: 99 !important;
}
#sidebar dl {
  list-style: none;
}
#main { height: auto;}
.is_stuck {
  position: absolute;
}
#layerslider img{
  z-index:-1;
}
/* Tabs */
#wrapper {
	background-color: #F4F0EE;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 300px;
	padding-top: 25px;
	position: absolute;
	left: 0;
}
#tabs > div {
	width: 800px;
	height: 250px;
	float: left;
	overflow: hidden;
}
#tabs img {
	display: block;
	margin: 0 25px 0 0;
	float: left;
}
#tabs h3 {
	font-size: 30px;
	line-height: 20px;
	margin: 60px 0 20px 0;
}
 
#tabs #blue img {
	margin-top: 30px;
}
#tabs #pink img {
	margin-top: 30px;
}
#tabs #white img {
	margin-top: 30px;
}
#tabs #yellow img {
	margin-top: 50px;
}
 
#pager {
	width: 100%;
	margin: -76px auto 25px auto;
	text-align: center;
}
#pager a {
	border: 1px solid transparent;
	border-bottom: none;
	border-left: none;
	border-color: #ccc;
	color: #999;
	font-size: 20px;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	height: 50px;
	padding: 10px 30px;
  background:#fff;
}
#pager a:hover {
	color: #666;
}
#pager a:first-child {
	border-left: 1px solid #ccc;
}
#pager a.selected {
	background-color: #F4F0EE;
	color: #333;
}
 
#source {
	text-align: center;
	width: 400px;
	margin: 0 0 0 -200px;
	position: absolute;
	bottom: 10px;
	left: 50%;
}
#source, #source a {
	color: #999;
	font-size: 12px;
}
.homes-img:hover {
background:#FFF; opacity:.5;
}
.homes-title {
  text-decoration: underline;
}
.shadow {
  text-shadow: 1px 0px 5px #000;
}
.investor-table {
  width: 842px;
}
[class*="block-grid-"] {
  margin: 0 1px;
}
/* G Forms ------- */
.gform_wrapper .top_label .gfield_label {
  margin: 0; 
}
.width-100 {
  width: 100%;
}
.gform_wrapper .top_label li.gfield.gf_left_half, .gform_wrapper .top_label li.gfield.gf_right_half {
  margin: 0 !important;
}
/* Large screens ----------- */
@media only screen 
and (min-width : 727px) {
  .slicknav_menu {
    display: none;
  }
}
