/******************************************************************************
  Min Width "1200x"
*******************************************************************************/
@media (min-width: 1200px) {
}

/******************************************************************************
  Max Width "1169px" - Min Width "980px"
*******************************************************************************/
@media (min-width: 980px) and (max-width: 1199px) {
}

/******************************************************************************
  Max Width "979px"
*******************************************************************************/
@media (max-width: 979px) {
}

/******************************************************************************
  Max Width "979px" - Min Width "768px"
*******************************************************************************/
@media (min-width: 768px) and (max-width: 979px) {
#sidebar {
  display: none;
}
.top-bar-section ul li a {
  padding: 0 5px !important;
}
.investor-table {
  width: 100%;
}
}

/******************************************************************************
  Max Width "767px"
*******************************************************************************/
@media (max-width: 767px) {
.fadein, .community-slide {
  height: 180px;
}
ul.right { 
  display: none;
}
#home-footer {
  margin-top: 0; 
}
.top-bar-section #main li {
  margin-right: 0 !important;
}
.menu-toggle {
  visibility: visible; 
  color: #000;
  z-index: 1;
}
#layerslider {
  max-height: 160px;
}
#layerslider img{
  max-height: 160px;
}
.comm-list h4 {
  margin-top: 20px;
}
#sidebar {
  display: none;
}
#half-white {
  padding: 10px;
}
#almost-white {
  padding: 10px;
  min-height: 100px;
}
.wppl-map-wrapper {	
  padding: 0 20px;
	margin-bottom: 10px;
	clear:both;
	width:auto;
}

nav {
  display: none;
}
#main {
  display: none;
}
#wrapper {
  display: none;
}
.homes-bar {
  height: 420px;
}
a.fancybox-media {
  color: #fff !important;
}
.blue-bar {
  height: 420px;
}
.page-bar {
  height: 420px;
}
.investor-table {
  width: 100%;
}
}
/******************************************************************************
  Max Width "600px"
*******************************************************************************/
@media (max-width: 600px) {
}

/******************************************************************************
  Min Width "767px"
*******************************************************************************/
@media (min-width: 768px) {
  .menu-toggle {
  display: none !important;
}
.slicknav_menu {
  display: none;
}
#mobile-specials {
  display: none;
}
}

